:root {
  /* Color variables */
  --primary-color: hsl(250, 100%, 27%);
  --secondary-color: hsl(210, 100%, 27%);
  --shadow: hsla(0, 0%, 0%, 0.658);
  --shadow-glow: hsla(199, 85%, 40%, 0.658);
  --button-base: hsl(0, 2%, 73%);
  --button-operators: hsl(35, 100%, 36%);
  --button-numbers: hsl(0, 0%, 35%);
  --button-3: hsl(22, 100%, 36%);
}

button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 50%;
  background-color: var(--button-base);
  margin: 0.3em;
  transition: 180ms;
  filter: drop-shadow(-3px 4px 7px var(--shadow));
}

button:hover {
  filter: drop-shadow(-3px 4px 7px var(--shadow-glow)) brightness(125%);
  cursor: pointer;
}

button:focus-visible {
  filter: brightness(125%) drop-shadow(-3px 4px 7px var(--shadow-glow));
  outline: 0;
}

button:active {
  filter: drop-shadow(0.3px 0.8px 1.5px var(--shadow)) brightness(115%);
  border-radius: 40%;
}

.wrapper {
  background-color: var(--primary-color);
  border-radius: 1em;
  padding: 1em;
  /* min-width: 350px; */
}

.operators {
  background-color: var(--button-operators);
  color: white;
}

.numbers {
  background-color: var(--button-numbers);
  color: white;
}

#display {
  color: whitesmoke;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;

  width: 85%;
  margin: 0.8rem auto;
  display: flex;
  justify-content: right;

  font-size: xx-large;
  padding: 0.6rem;
}
